src/IyulabSite/wwwroot/index.jade
doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title IYuLab 
        meta(name="description", content="")
        meta(name="author", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="css/style.css")
        link(rel="icon", type="images/png", href="images/favicon.png")

body

    header.head
        .fore-bird
        .window-textbox
            img(src="images/logo1.png")
            ul
                li 
                    p: a.button(href="#technology") TECHNOLOGY
                li 
                    p: a.button(href="#product") PRODUCT
                li 
                    p: a.button(href="#team") TEAM
                li 
                    p: a.button(href="#contact") CONTACT
        .back-bird
        .logo_bak
        .logo
            h3 JUST A PLACE FOR CREATIVE
            h1 WELCOME IYULAB
            h5 SPEACIALIST FOR DATA VISUALIZATION

    section.content
        
        article
            
            h1(id="technology") OUR TECHNOLOGY

            hr
            
            p Ltd. is a company that wraps reason to develop core technology Improve development efficiency using a new development methods and frameworks, libraries strive to enhance the performance and functionality of the product.

            hr
            
            .technology
                .row.img-row
                    figure.columns.four
                        img(src="images/images1.png")
                        figcaption .ASP.NET CORE, WCF
                        <strong>WEB SERVER</strong>

                    figure.columns.four
                        img(src="images/images2.png")
                        figcaption Mongo DB 
                        <strong>DATABASE</strong>
                                               
                    figure.columns.four
                        img(src="images/images3.png")
                        figcaption Attached Files
                        <strong>FILE SERVER</strong>
                                               
                .row.img-row
                    figure.columns.four
                        img(src="images/images4.png")
                        figcaption Desktop, Mobile, Web 
                        <strong>CROSS PLATFORM</strong>
                        
                    figure.columns.four
                        img(src="images/images5.png")
                        figcaption C#, WPF
                        <strong>DESKTOP APPLICATION</strong>
                        
                    figure.columns.four
                        img(src="images/images6.png")
                        figcaption HTML5, POLYMER ELEMENTS, ANGULARJS 
                        <strong>WEB APPLICATION</strong>
                                                
            h1(id="product") PRODUCT

            hr
            
            p In the scope of the element manufacturing smart services in the cloud system space managed by a user to integrate a development at a time to the web application , a mobile service through a direct authoring
            hr
            .product
                .window-tint
                    .promo-text C O M I N G  S O O N  
                        hr
                        h4 D A S H B O A R D
                        hr
                        strong <span>R E S E R V A T I O N S  C O N T A C T</span> 
                        a(href="http://192.168.1.105:7788/files/").window-cta Contact Us

            h1(id="team") OUR TEAM

            hr

            p We are waiting for you to challenge .

            hr               

            .team.row

                .post.columns.four.post-1  
                    h5 Mr. Jung
                    img(src="images/human1.png")
                    p Reasonable programming
                    p: a.button(href="") Read More

                .post.columns.four.post-2      
                    h5 Mr. Kim
                    img(src="images/human2.png")
                    p Planning and management
                    p: a.button(href="") Read More

                .post.columns.four.post-3      
                    h5 Mr. Shine
                    img(src="images/human3.png")
                    p Sales force
                    p: a.button(href="") Read More


    footer
        .row.footer-stuff
            h1(id="footer") I'd like to hear about your project!
            

    header.contact

        article
            h1(id="contact") CONTACT US

            hr
            
            p copyright(C) 2016. all rights reserved by<a href="#Starseite"> IYuLab</a></div>
            p 55, Digital-ro 33-gil, Guro-gu, Seoul, Korea
            
            hr

    script(src="js/jquery-2.1.3.min.js")
    script(src="js/functions.js")
    script(src="js/fileserver.js")

src/IyulabSite/wwwroot/Index.html
<!DOCTYPE html><html lang="en"><head><meta charset="utf-8"><title>IYuLab </title><meta name="description" content=""><meta name="author" content=""><meta name="viewport" content="width=device-width, initial-scale=1"><link rel="stylesheet" href="css/style.css"><link rel="icon" type="images/png" href="images/favicon.png"></head></html><body><header class="head"><div class="fore-bird"></div><div class="window-textbox"><img src="images/logo1.png"><ul><li> <p><a href="#technology" class="button">TECHNOLOGY</a></p></li><li> <p><a href="#product" class="button">PRODUCT</a></p></li><li> <p><a href="#team" class="button">TEAM</a></p></li><li> <p><a href="#contact" class="button">CONTACT</a></p></li></ul></div><div class="back-bird"></div><div class="logo_bak"></div><div class="logo"><h3>JUST A PLACE FOR CREATIVE</h3><h1>WELCOME IYULAB</h1><h5>SPEACIALIST FOR DATA VISUALIZATION</h5></div></header><section class="content"><article><h1 id="technology">OUR TECHNOLOGY</h1><hr><p>Ltd. is a company that wraps reason to develop core technology Improve development efficiency using a new development methods and frameworks, libraries strive to enhance the performance and functionality of the product.</p><hr><div class="technology"><div class="row img-row"><figure class="columns four"><img src="images/images1.png"><figcaption>.ASP.NET CORE, WCF</figcaption><strong>WEB SERVER</strong></figure><figure class="columns four"><img src="images/images2.png"><figcaption>Mongo DB </figcaption><strong>DATABASE</strong></figure><figure class="columns four"><img src="images/images3.png"><figcaption>Attached Files</figcaption><strong>FILE SERVER</strong></figure></div><div class="row img-row"><figure class="columns four"><img src="images/images4.png"><figcaption>Desktop, Mobile, Web </figcaption><strong>CROSS PLATFORM</strong></figure><figure class="columns four"><img src="images/images5.png"><figcaption>C#, WPF</figcaption><strong>DESKTOP APPLICATION</strong></figure><figure class="columns four"><img src="images/images6.png"><figcaption>HTML5, POLYMER ELEMENTS, ANGULARJS </figcaption><strong>WEB APPLICATION</strong></figure></div></div><h1 id="product">PRODUCT</h1><hr><p>In the scope of the element manufacturing smart services in the cloud system space managed by a user to integrate a development at a time to the web application , a mobile service through a direct authoring</p><hr><div class="product"><div class="window-tint"><div class="promo-text">C O M I N G  S O O N  <hr><h4>D A S H B O A R D</h4><hr><strong><span>R E S E R V A T I O N S  C O N T A C T</span> </strong><a href="http://192.168.1.105:7788/files/" class="window-cta">Contact Us</a></div></div></div><h1 id="team">OUR TEAM</h1><hr><p>We are waiting for you to challenge .</p><hr><div class="team row"><div class="post columns four post-1"> <h5>Mr. Jung</h5><img src="images/human1.png"><p>Reasonable programming</p><p><a href="" class="button">Read More</a></p></div><div class="post columns four post-2">     <h5>Mr. Kim</h5><img src="images/human2.png"><p>Planning and management</p><p><a href="" class="button">Read More</a></p></div><div class="post columns four post-3">     <h5>Mr. Shine</h5><img src="images/human3.png"><p>Sales force</p><p><a href="" class="button">Read More</a></p></div></div></article></section><footer><div class="row footer-stuff"><h1 id="footer">I'd like to hear about your project!</h1></div></footer><header class="contact"><article><h1 id="contact">CONTACT US</h1><hr><p>copyright(C) 2016. all rights reserved by<a href="#Starseite"> IYuLab</a></div></p><p>55, Digital-ro 33-gil, Guro-gu, Seoul, Korea</p><hr></article></header><script src="js/jquery-2.1.3.min.js"></script><script src="js/functions.js"></script><script src="js/fileserver.js"></script></body>
